[submodule "lab-2"]
	path = lab-2
	url = https://github.com/ssgadient/CSE15L-lab-2
[submodule "lab-3"]
	path = lab-3
	url = https://github.com/ssgadient/lab3
[submodule "lab-4"]
	path = lab-4
	url = https://github.com/ssgadient/docsearch
[submodule "lab-7"]
	path = lab-7
	url = https://github.com/ssgadient/list-examples-grader
